*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: repeating-linear-gradient(45deg, #3f87a6, rgb(128, 128, 128) 15%, black 20%)!important;
    font-family: cursive;
}
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border-radius: 10px;
    }
#home{
    min-height: 100vh;
    /*background-image: url(./images/bg.png) ;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: lighten;*/
    text-align: center;
    padding-top: 20vh;
    font-family: cursive;
    font-weight: bolder;
    color: bisque;
}

#about{
    min-height: 50vh;
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: linear-gradient(to right,rgba(13, 80, 97, 0.466),rgba(0, 204, 255, 0.466));
    box-shadow: 
                    inset 0 3em 3em rgba(13, 80, 97, 0.466), 
                          0 0  0 0px rgb(255,255,255),
                          0.3em 0.3em 1em rgb(0, 0, 0);
    color: bisque;
    font-style: italic;
    font-family: cursive;
}
#about h2{
    text-align: center;
    font-weight: bolder;
}

#team{
    min-height: 100vh;
    padding-top: 1%;
    padding-bottom: 1%;
    color: blanchedalmond;
    font-family: cursive;
}
#team h2{
    text-align: center;
    font-weight: bolder;
}
#team li:hover{
    color: brown;
}

#contact{
    position: relative;
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;

}
#gallery{
    min-height: 50vh;
    width: 100%;
    font-family: cursive;
}
#gallery h2{
    text-align: center;
    font-weight: bolder;
    color: blanchedalmond;
    font-family: cursive;
}


#contact{
    background-color: rgba(0, 0, 0, 0.493);
}
#contact .contactinfo{
    width: 100%;
    padding: 2%;
    height: 100%;
}
#contact .contactinfo h2{
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    font-family: fantasy;
}
#contact .contactinfo .info{
    padding-top: 2%;
    text-align: justify;
    padding-left: 2%;
}
#contact .contactinfo .info li{
    display: inline-block;
    margin-left: 2%;
}
#contact .contactinfo .info li span:nth-child(1) i{
    margin-left:3%;
    color: whitesmoke;
    opacity: 0.5;
}
#contact .contactinfo .info li span:nth-child(1) p{
    padding: 1%;
    color: whitesmoke;
    opacity: 0.5;
    margin-left: 3%;
    font-size: large;
    font-weight: bold;
    align-items: flex-start;
}
#contact .contactinfo .info li:hover span:nth-child(1) i,
#contact .contactinfo .info li:hover span:nth-child(1) p{
    opacity: 1;
}
#contact .contactinfo .sci {
    text-align: right;
}
#contact .contactinfo .sci li{
    display: inline;
    padding: 2%;
    text-align: right;
}
#contact .contactinfo .sci li i{
    color: whitesmoke;
    opacity: 0.5;
}
#contact .contactinfo .sci li:hover i{
    color: cornsilk;
    opacity: 1;
}
.navbar-nav li:hover{
    border-bottom: whitesmoke;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    opacity: 1.5;
}
#contact .tensors{
    padding: 3%;

}
#facebook_button > i{color: rgb(22, 160, 132);padding: 2px;}
#facebook_button > i:hover{color: #141c5a;}