*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: repeating-linear-gradient(45deg, #3f87a6, black 20%)!important;
    font-family: Candara;
    overflow-x: hidden;
}
@font-face {
    font-family: Candara;
    src: url(font/Candara.ttf);
}
@font-face {
    font-family: Cartoonist;
    src: url(font/Qdbettercomicsans-jEEeG.ttf);
}
@font-face {
    font-family: LemonMilk;
    src: url(font/LEMONMILK-MediumItalic.otf)
}

  #gallery::before,
  #about::before,
  #contact::before{
    display: block;
    content: "";
    height: 40px;
    margin: -40px 0 0;
}
#snow_fall{position: absolute; width: 100%; height: 100vh;mix-blend-mode: screen; background-repeat: no-repeat; background-size: cover; background-color: transparent; background-position: 50% 50%; z-index: -1000;}
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border-radius: 10px;
    }
#home{
    min-height: 106vh;
    /*background-image: url(./images/bg.png) ;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: lighten;*/
    text-align: center;
    font-family: LemonMilk;
    letter-spacing: 2px;
    font-weight: 900;
    color: whitesmoke;
    background-image: url(images/i);
    background-size: cover;
}

#about{
    min-height: 50vh;
    background-image: linear-gradient(to right,rgba(13, 80, 97, 0.466),rgba(0, 204, 255, 0.466));
    box-shadow: 
                    inset 0 3em 3em rgba(13, 80, 97, 0.466), 
                          0 0  0 0px rgb(255,255,255),
                          0.3em 0.3em 1em rgb(0, 0, 0);
    color: whitesmoke;
    font-style: italic;
    font-family: Candara;
    font-size: larger;
    font-weight: 500;
}
#about h2{
    font-family: Candara;
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: xx-large;
}

#team{
    min-height: 100vh;
    padding-top: 1%;
    padding-bottom: 1%;
    color: whitesmoke;
    font-family: Candara;
}
#team h2{
    text-align: center;
    font-weight: bolder;
}
#team li:hover{
    color: brown;
}

#contact{
    position: relative;
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;

}
#gallery{
    min-height: 50vh;
    width: 100%;
    font-family: Candara;
    font-style: italic;
    font-weight: 500;
}
#gallery h2{
    font-family: Candara;
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
}


#contact{
    background-color: rgba(0, 0, 0, 0.493);
}
#contact .contactinfo{
    width: 100%;
    padding: 2%;
    height: 100%;
}
#contact .contactinfo h2{
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    font-family: fantasy;
}
#contact .contactinfo .info{
    padding-top: 2%;
    text-align: justify;
    padding-left: 2%;
}
#contact .contactinfo .info li{
    display: inline-block;
    margin-left: 2%;
}
#contact .contactinfo .info li span:nth-child(1) i{
    margin-left:2%;
    color: whitesmoke;
    opacity: 0.5;
}
#contact .contactinfo .info li p{
    padding: 1%;
    color: whitesmoke;
    opacity: 0.5;
    margin-left: 3%;
    font-size: large;
    font-weight: bold;
    text-align: left;
}
#contact .contactinfo .info li:hover span:nth-child(1) i,
#contact .contactinfo .info li:hover p{
    opacity: 1;
    text-align: left;
}
#contact .contactinfo .sci {
    text-align: right;
}
#contact .contactinfo .sci li{
    display: inline;
    padding: 2%;
    text-align: right;
}
#contact .contactinfo .sci li i{
    color: whitesmoke;
    opacity: 0.5;
}
#contact .contactinfo .sci li:hover i{
    color: cornsilk;
    opacity: 1;
}
.navbar-nav li:hover{
    border-bottom: whitesmoke;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    opacity: 1.5;
}
#contact .tensors{
    padding: 3%;

}
#facebook_button > i{color: rgb(22, 160, 132);padding: 2px;}
#facebook_button > i:hover{color: #141c5a;}

.reg_button{
    border: none;
    display: block;
    position: relative;
    padding: 0.5em 2.2em;
    font-size: 25px;
    font-family: Cartoonist;
    font-weight: 900;
    background: rgba(0, 0, 0, 0.541);
    cursor: pointer;
    user-select: none;
    color: whitesmoke;
    overflow: hidden;

}
.reg_button span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
}
.reg_button span::before{
    content: "";
    position: absolute;
    width: 8%;
    height: 500%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .3s;
}
.reg_button:hover span::before, .reg_button:focus span::before{
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 100%;
    height: 500%;
    background: whitesmoke;
    opacity: 0.5;
    border-radius: 50px;
}
.reg_button:hover, .reg_button:focus{
    color: black;
    background-color: transparent;
}
.reg_button:hover i,.reg_button:focus i{
    color: transparent;
}
